In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('2ยบ_2024.csv',sep=';')
df['Valor de Venda'] = df['Valor de Venda'].str.replace(',','.').astype(float)
print(df['Valor de Venda'].dtype)

float64

In [13]:
#ETANOL
df_ETANOL = df.loc[(df['Municipio']== 'RIO DE JANEIRO') & (df['Produto'] == 'ETANOL')]
df_GASOLINA = df.loc[(df['Municipio']== 'RIO DE JANEIRO') & (df['Produto'] == 'ETANOL')]
df_DIESEL = df.loc[(df['Municipio']== 'RIO DE JANEIRO') & (df['Produto'] == 'ETANOL')]

In [28]:
df_ET_med= df_ETANOL.groupby('Bairro')['Valor de Venda'].mean().reset_index().reset_index()
df_ET_med.sort_values(by='Valor de Venda',ascending=False).head(5)

Bairro
ROCHA             3.934444
JARDIM SULACAP    3.950000
JACARE            3.990000
IRAJA             3.990000
RIO COMPRIDO      4.000000
Name: Valor de Venda, dtype: float64

In [37]:
df_ET_med= df_ETANOL.groupby('Bairro')['Valor de Venda'].mean().reset_index().reset_index()
df_ET_med.sort_values(by='Valor de Venda',ascending=False).tail(5)

            Bairro  Valor de Venda
48    RIO COMPRIDO        4.000000
23           IRAJA        3.990000
25          JACARE        3.990000
29  JARDIM SULACAP        3.950000
49           ROCHA        3.934444

In [29]:
df_GS_med= df_GASOLINA.groupby('Bairro')['Valor de Venda'].mean().reset_index()
df_GS_med.sort_values(by='Valor de Venda',ascending=False).head(5)

Bairro
ROCHA             3.934444
JARDIM SULACAP    3.950000
JACARE            3.990000
IRAJA             3.990000
RIO COMPRIDO      4.000000
Name: Valor de Venda, dtype: float64

In [30]:
df_GS_med= df_GASOLINA.groupby('Bairro')['Valor de Venda'].mean().reset_index()
df_GS_med.sort_values(by='Valor de Venda',ascending=False).tail(5)

Bairro
GLORIA             4.690000
LAGOA              4.823333
JARDIM BOTANICO    4.838750
VARGEM PEQUENA     5.067778
FLAMENGO           5.689286
Name: Valor de Venda, dtype: float64

In [31]:
df_DS_med= df_DIESEL.groupby('Bairro')['Valor de Venda'].mean().reset_index()
df_DS_med.sort_values(by='Valor de Venda',ascending=False).head(5)

Bairro
ROCHA             3.934444
JARDIM SULACAP    3.950000
JACARE            3.990000
IRAJA             3.990000
RIO COMPRIDO      4.000000
Name: Valor de Venda, dtype: float64

In [32]:
df_DS_med= df_DIESEL.groupby('Bairro')['Valor de Venda'].mean().reset_index()
df_DS_med.sort_values(by='Valor de Venda',ascending=False).tail(5)

Bairro
GLORIA             4.690000
LAGOA              4.823333
JARDIM BOTANICO    4.838750
VARGEM PEQUENA     5.067778
FLAMENGO           5.689286
Name: Valor de Venda, dtype: float64