In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('pesquisa_satisfacao.csv',  sep = ';')
df

In [ ]:
dfTempo= df.sort_values('Tempo de Espera (min)')
#dfTempo

In [ ]:
dados = np.array(dfTempo['Tempo de Espera (min)'])
dados

In [ ]:
q1 = np.percentile(dados, 25)
q2 = np.percentile(dados, 50)
q3 = np.percentile(dados, 75)

In [36]:
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2): {q2}')
print(f'Terceiro quartil (Q3): {q3}')

Primeiro quartil (Q1): 9.5
Segundo quartil (Q2): 14.5
Terceiro quartil (Q3): 19.0

In [38]:
#Clientes que estão entre os 25% que receberam mais rápido

df_rapido = dfTempo.loc[(dfTempo['Tempo de Espera (min)'] <= q1)]
df_rapido

   Cliente Satisfação  Tempo de Espera (min)
5    Luffy      Baixa                      5
12  Mikasa       Alta                      6
3   Sasuke       Alta                      8
0   Naruto       Alta                      8
9   Kurama      Média                      8

In [ ]:
df_rapido.plot(kind = 'bar' , x= 'Cliente', y= 'Tempo de Espera (min)') 
plt.xlabel('Cliente') 
plt.ylabel('Tempo de Espera (min)') 
plt.title('Clientes entre os 25% que receberam mais rápido') 
plt.show()

In [32]:
dfSatisfacao = df.sort_values('Satisfação')
dfSatisfacao

         Cliente Satisfação  Tempo de Espera (min)
0         Naruto       Alta                      8
1           Goku       Alta                     10
3         Sasuke       Alta                      8
16   Bruce Wayne       Alta                     18
6           Zoro       Alta                     22
14             L       Alta                     19
12        Mikasa       Alta                      6
13         Light       Alta                     10
5          Luffy      Baixa                      5
7          Sanji      Baixa                     26
8         Yusuke      Baixa                     14
18       Edmundo      Baixa                     13
15  Peter Parker      Baixa                     21
17        Thanos      Média                     19
9         Kurama      Média                      8
10           Gon      Média                     12
4         Madara      Média                     15
2         Vegeta      Média                     17
11          Eren      Média                     28
19       Vegetti      Média                     19

In [35]:
df_Satis = dfSatisfacao.groupby('Satisfação')['Tempo de Espera (min)'].mean().reset_index()
df_Satis

  Satisfação  Tempo de Espera (min)
0       Alta              12.625000
1      Baixa              15.800000
2      Média              16.857143