In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv',  sep = ';', encoding= 'latin1')
df.tail()

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36081 entries, 0 to 36080
Data columns (total 63 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cisp                        36081 non-null  int64
 1   mes                         36081 non-null  int64
 2   ano                         36081 non-null  int64
 3   mes_ano                     36081 non-null  object
 4   aisp                        36081 non-null  int64
 5   risp                        36081 non-null  int64
 6   munic                       36081 non-null  object
 7   mcirc                       36081 non-null  int64
 8   regiao                      36081 non-null  object
 9   hom_doloso                  36081 non-null  int64
 10  lesao_corp_morte            36081 non-null  int64
 11  latrocinio                  36081 non-null  int64
 12  cvli                        36081 non-null  int64
 13  hom_por_interv_policial     36081 non-null  int64
 14  letalidade_violenta         36081 non-null  int64
 15  tentat_hom                  36081 non-null  int64
 16  lesao_corp_dolosa           36081 non-null  int64
 17  estupro                     36081 non-null  int64
 18  hom_culposo                 36081 non-null  int64
 19  lesao_corp_culposa          36081 non-null  int64
 20  roubo_transeunte            36081 non-null  int64
 21  roubo_celular               36081 non-null  int64
 22  roubo_em_coletivo           36081 non-null  int64
 23  roubo_rua                   36081 non-null  int64
 24  roubo_veiculo               36081 non-null  int64
 25  roubo_carga                 36081 non-null  int64
 26  roubo_comercio              36081 non-null  int64
 27  roubo_residencia            36081 non-null  int64
 28  roubo_banco                 36081 non-null  int64
 29  roubo_cx_eletronico         36062 non-null  float64
 30  roubo_conducao_saque        36081 non-null  int64
 31  roubo_apos_saque            36081 non-null  int64
 32  roubo_bicicleta             18692 non-null  float64
 33  outros_roubos               36081 non-null  int64
 34  total_roubos                36081 non-null  int64
 35  furto_veiculos              36081 non-null  int64
 36  furto_transeunte            36081 non-null  int64
 37  furto_coletivo              36081 non-null  int64
 38  furto_celular               36081 non-null  int64
 39  furto_bicicleta             18692 non-null  float64
 40  outros_furtos               36081 non-null  int64
 41  total_furtos                36081 non-null  int64
 42  sequestro                   36081 non-null  int64
 43  extorsao                    36081 non-null  int64
 44  sequestro_relampago         36081 non-null  int64
 45  estelionato                 36081 non-null  int64
 46  apreensao_drogas            36081 non-null  int64
 47  posse_drogas                31435 non-null  float64
 48  trafico_drogas              31435 non-null  float64
 49  apreensao_drogas_sem_autor  31435 non-null  float64
 50  recuperacao_veiculos        36081 non-null  int64
 51  apf                         31435 non-null  float64
 52  aaapai                      31435 non-null  float64
 53  cmp                         31435 non-null  float64
 54  cmba                        31435 non-null  float64
 55  ameaca                      36081 non-null  int64
 56  pessoas_desaparecidas       36081 non-null  int64
 57  encontro_cadaver            36081 non-null  int64
 58  encontro_ossada             36081 non-null  int64
 59  pol_militares_mortos_serv   36081 non-null  int64
 60  pol_civis_mortos_serv       36081 non-null  int64
 61  registro_ocorrencias        36081 non-null  int64
 62  fase                        36081 non-null  int64
dtypes: float64(10), int64(50), object(3)
memory usage: 17.3+ MB

In [43]:
df_Regioes = df.groupby(['ano','munic'])['furto_celular'].sum().reset_index()
df_Regioes

       ano               munic  furto_celular
0     2003      Angra dos Reis             42
1     2003            Araruama             33
2     2003  Armação dos Búzios             17
3     2003         Barra Mansa             15
4     2003      Barra do Pirai              9
...    ...                 ...            ...
1854  2025         Teresópolis             25
1855  2025   Trajano de Morais              0
1856  2025             Valença             11
1857  2025           Vassouras              4
1858  2025       Volta Redonda             55

[1859 rows x 3 columns]

In [56]:
regiao_metropolitana = ['Rio de Janeiro', 'Duque de Caxias','Nova Iguaçu','São Gonçalo','Niterói','Belford Roxo','São João de Meriti','Magé','Itaboraí','Mesquita','Nilópolis','Queimados','Seropédica','Japeri','Paracambi','Guapimirim','Maricá','Tanguá','Itaguaí','Cachoeiras de Macacu','Rio Bonito','Paty do Alferes']
df_Metropole2024 = df_Regioes.loc[(df_Regioes['munic'].isin(regiao_metropolitana))& (df_Regioes['ano']==2024)]
df_Metropole2024 = df_Metropole2024.sort_values(by='furto_celular',ascending=False)
df_Metropole2024

       ano                 munic  furto_celular
1755  2024        Rio de Janeiro          29422
1737  2024               Niterói           1229
1716  2024       Duque de Caxias            654
1739  2024           Nova Iguaçu            635
1765  2024           São Gonçalo            623
1768  2024    São João de Meriti            242
1730  2024                Maricá            204
1721  2024               Itaguaí            189
1728  2024                  Magé            188
1701  2024          Belford Roxo            176
1736  2024             Nilópolis            171
1720  2024              Itaboraí            119
1732  2024              Mesquita             96
1748  2024             Queimados             67
1718  2024            Guapimirim             43
1751  2024            Rio Bonito             36
1760  2024            Seropédica             34
1740  2024             Paracambi             31
1725  2024                Japeri             29
1705  2024  Cachoeiras de Macacu             17
1771  2024                Tanguá             16

In [50]:
array_furtocel = np.array(df_Metropole2024['furto_celular'])

In [51]:
media_furtocel = np.mean(array_furtocel)
media_furtocel

np.float64(1629.5714285714287)

In [52]:
mediana_furtocel = np.median(array_furtocel)
mediana_furtocel

np.float64(171.0)

In [53]:
distancia = (media_furtocel - mediana_furtocel)/mediana_furtocel
distancia

np.float64(8.529657477025898)