In [14]:
import pandas as pd

In [15]:
clientes = pd.DataFrame({'id':[1, 2, 3],'nome':['Ana','Bruno','Carlos']})

In [16]:
pedidos = pd.DataFrame({'id':[101, 102], 'cliente_id':[1, 2], 'produto':['Livro','Caneta']})

In [18]:
pd.merge(clientes, pedidos, left_on='id', right_on='cliente_id', how='inner')

   id_x   nome  id_y  cliente_id produto
0     1    Ana   101           1   Livro
1     2  Bruno   102           2  Caneta

In [19]:
pd.merge(clientes, pedidos, left_on='id', right_on='cliente_id', how='left')

   id_x    nome   id_y  cliente_id produto
0     1     Ana  101.0         1.0   Livro
1     2   Bruno  102.0         2.0  Caneta
2     3  Carlos    NaN         NaN     NaN