In [73]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [ ]:
#Tarefas com Python
# Tratar os dados e calcular o tempo de espera
# Identificar outliers usando quartis (Q1, Q2, Q3)
# Comparar média e mediana por especialidade, médico e clínica
# Explorar correlações entre tempo de espera e nota de satisfação

In [96]:
df_consultas = pd.read_csv('consultas.csv', sep = ',')

In [97]:
df_consultas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_consulta         5000 non-null   int64
 1   id_paciente         5000 non-null   int64
 2   id_medico           5000 non-null   int64
 3   id_clinica          5000 non-null   int64
 4   especialidade       5000 non-null   object
 5   data_hora_agendada  5000 non-null   object
 6   data_hora_inicio    5000 non-null   object
 7   status              5000 non-null   object
dtypes: int64(4), object(4)
memory usage: 312.6+ KB

In [76]:
#Tratamento Data e Hora#
#converter colunas para data#
df_consultas['data_hora_agendada']= pd.to_datetime(df_consultas['data_hora_agendada'])
df_consultas['data_hora_inicio']= pd.to_datetime(df_consultas['data_hora_inicio'])
#df_consultas['hora_agendada']= df_consultas['data_hora_agendada'].dt.hour()
#df_consultas['hora_inicio']= df_consultas['data_hora_inicio'].dt.hour()

In [77]:
df_consultas['intervalo'] = (df_consultas['data_hora_inicio']) - (df_consultas['data_hora_agendada'])

In [78]:
df_consultas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_consulta         5000 non-null   int64
 1   id_paciente         5000 non-null   int64
 2   id_medico           5000 non-null   int64
 3   id_clinica          5000 non-null   int64
 4   especialidade       5000 non-null   object
 5   data_hora_agendada  5000 non-null   datetime64[ns]
 6   data_hora_inicio    5000 non-null   datetime64[ns]
 7   status              5000 non-null   object
 8   intervalo           5000 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), int64(4), object(2), timedelta64[ns](1)
memory usage: 351.7+ KB

In [79]:
#transformar intervalo em string
df_consultas['tempo_espera']= df_consultas['intervalo'].astype(str)
#separar dias
#df_consultas['dias_espera'] = df_consultas['tempo_espera'].str[0:7]
#separar hora e transformar em inteiro
df_consultas['hora_espera'] = df_consultas['tempo_espera'].str[7:9]
df_consultas['hora_espera'] = df_consultas['hora_espera'].astype(int)
#separar minutos e transformar em inteiro
df_consultas['minutos_espera'] = df_consultas['tempo_espera'].str[10:12]
df_consultas['minutos_espera'] = df_consultas['minutos_espera'].astype(int)
#transformar dados em inteiros e horas em minutos
df_consultas['espera_calc'] = (df_consultas['hora_espera'] * 60)+(df_consultas['minutos_espera'])

df_consultas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_consulta         5000 non-null   int64
 1   id_paciente         5000 non-null   int64
 2   id_medico           5000 non-null   int64
 3   id_clinica          5000 non-null   int64
 4   especialidade       5000 non-null   object
 5   data_hora_agendada  5000 non-null   datetime64[ns]
 6   data_hora_inicio    5000 non-null   datetime64[ns]
 7   status              5000 non-null   object
 8   intervalo           5000 non-null   timedelta64[ns]
 9   tempo_espera        5000 non-null   object
 10  hora_espera         5000 non-null   int64
 11  minutos_espera      5000 non-null   int64
 12  espera_calc         5000 non-null   int64
dtypes: datetime64[ns](2), int64(7), object(3), timedelta64[ns](1)
memory usage: 507.9+ KB

In [80]:
#ARRAY + MÉDIA, MEDIANA E DISTÂNIA DO ROUBO DE VEÍCULOS
array_tp_esp = np.array(df_consultas['espera_calc'])
media_tp_esp = np.mean(array_tp_esp)
mediana_tp_esp = np.median(array_tp_esp)
distancia_tp_esp = (media_tp_esp - mediana_tp_esp)/mediana_tp_esp
print(f"MÉDIA = {media_tp_esp:.2f}\nMEDIANA = {mediana_tp_esp:.2f}\nDISTÂNCIA = {distancia_tp_esp:.2f}")

MÉDIA = 95.52
MEDIANA = 30.00
DISTÂNCIA = 2.18

In [81]:
#q1, q2, q3, iqr, limite superior e inferior
q1_tp_esp = np.percentile(array_tp_esp,25)
q2_tp_esp = np.percentile(array_tp_esp,50)
q3_tp_esp = np.percentile(array_tp_esp,75)
iqr_tp_esp = q3_tp_esp - q1_tp_esp
lim_sup_tp_esp = q3_tp_esp + (1.5*iqr_tp_esp)
lim_inf_tp_esp = q1_tp_esp - (1.5*iqr_tp_esp)
print(f"Q1={q1_tp_esp:.2f}\nQ2={q2_tp_esp:.2f}\nQ3={q3_tp_esp:.2f}")
print(f"IQR (Q3 - Q1): {iqr_tp_esp:.2f}\
      \nLimite Superior: {lim_sup_tp_esp:.2f}\nLimite Inferior: {lim_inf_tp_esp:.2f}\nMediana: {mediana_tp_esp:.2f} \nMédia: {media_tp_esp:.2f}")

Q1=10.00
Q2=30.00
Q3=180.00
IQR (Q3 - Q1): 170.00
Limite Superior: 435.00
Limite Inferior: -245.00
Mediana: 30.00
Média: 95.52

In [87]:
df_muita_espera = df_consultas.loc[(df_consultas['espera_calc'] >= q3_tp_esp)].reset

In [100]:
df_avaliacoes = pd.read_csv('avaliacoes.csv', sep=',')
df_avaliacoes

    id_consulta  nota_satisfacao      comentario
0           697                4    Comentário 1
1            34                1    Comentário 2
2             9                4    Comentário 3
3          1254                1    Comentário 4
4          4180                4    Comentário 5
..          ...              ...             ...
95         4880                2   Comentário 96
96           85                1   Comentário 97
97         1091                2   Comentário 98
98         1840                4   Comentário 99
99          585                1  Comentário 100

[100 rows x 3 columns]