In [162]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [163]:
df_avaliacoes = pd.read_csv('avaliacoes.csv', sep=',')
df_consultas = pd.read_csv('consultas.csv', sep = ',')
df_consultas.head()

,id_consulta,id_paciente,id_medico,id_clinica,especialidade,data_hora_agendada,data_hora_inicio,status
0,1,82,15,4,Cardiologia,2023-09-27 23:46,2023-09-28 00:16,Realizada
1,2,18,95,14,Cardiologia,2023-09-04 09:05,2023-09-04 13:05,Realizada
2,3,55,5,4,Pediatria,2023-02-04 02:43,2023-02-04 02:58,Realizada
3,4,78,4,72,Ortopedia,2023-03-14 09:28,2023-03-14 13:28,Realizada
4,5,58,76,36,Pediatria,2023-10-22 16:54,2023-10-22 16:54,Cancelada

In [164]:
df_consultas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_consulta         5000 non-null   int64
 1   id_paciente         5000 non-null   int64
 2   id_medico           5000 non-null   int64
 3   id_clinica          5000 non-null   int64
 4   especialidade       5000 non-null   object
 5   data_hora_agendada  5000 non-null   object
 6   data_hora_inicio    5000 non-null   object
 7   status              5000 non-null   object
dtypes: int64(4), object(4)
memory usage: 312.6+ KB

In [171]:
#Tratamento Data e Hora#
#converter colunas para data#
df_consultas['data_hora_agendada']= pd.to_datetime(df_consultas['data_hora_agendada'])
df_consultas['data_hora_inicio']= pd.to_datetime(df_consultas['data_hora_inicio'])
df_consultas['hora_agendada']= df_consultas['data_hora_agendada'].dt.hour()
df_consultas['hora_inicio']= df_consultas['data_hora_inicio'].dt.hour()

TypeError: 'Series' object is not callable

In [166]:
df_consultas['intervalo'] = (df_consultas['data_hora_inicio']) - (df_consultas['data_hora_agendada'])

In [167]:
df_consultas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_consulta         5000 non-null   int64
 1   id_paciente         5000 non-null   int64
 2   id_medico           5000 non-null   int64
 3   id_clinica          5000 non-null   int64
 4   especialidade       5000 non-null   object
 5   data_hora_agendada  5000 non-null   datetime64[ns]
 6   data_hora_inicio    5000 non-null   datetime64[ns]
 7   status              5000 non-null   object
 8   intervalo           5000 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), int64(4), object(2), timedelta64[ns](1)
memory usage: 351.7+ KB

In [168]:
#transformar intervalo em string
df_consultas['tempo_espera']= df_consultas['intervalo'].astype(str)
#separar dias
df_consultas['dias_espera'] = df_consultas['tempo_espera'].str[0:7]
#separar hora
df_consultas['hora_espera'] = df_consultas['tempo_espera'].str[7:]
#removendo segundos
df_consultas['tempo_espera'] = df_consultas['hora_espera'].str[0:5]

df_consultas.head()

,id_consulta,id_paciente,id_medico,id_clinica,especialidade,data_hora_agendada,data_hora_inicio,status,intervalo,tempo_espera,dias_espera,hora_espera
0,1,82,15,4,Cardiologia,2023-09-27 23:46:00,2023-09-28 00:16:00,Realizada,0 days 00:30:00,00:30,0 days,00:30:00
1,2,18,95,14,Cardiologia,2023-09-04 09:05:00,2023-09-04 13:05:00,Realizada,0 days 04:00:00,04:00,0 days,04:00:00
2,3,55,5,4,Pediatria,2023-02-04 02:43:00,2023-02-04 02:58:00,Realizada,0 days 00:15:00,00:15,0 days,00:15:00
3,4,78,4,72,Ortopedia,2023-03-14 09:28:00,2023-03-14 13:28:00,Realizada,0 days 04:00:00,04:00,0 days,04:00:00
4,5,58,76,36,Pediatria,2023-10-22 16:54:00,2023-10-22 16:54:00,Cancelada,0 days 00:00:00,00:00,0 days,00:00:00